<%layout('layouts/boilerplate') -%>



  <div class="container-home">
    <!-- Rotating Logo -->
    <div>
      <img src="/Assets/logo.png" alt="Logo" class="logo-home" />
    </div>

    <!-- Action Links -->
    <div class="actions">
        <div class="btn-home-page">
          <a href="/listings" class="button" data-text="All Complaints">All Complaints</a>
        </div>
        <div class="btn-home-page">
           <a href="/listings/new" class="button" data-text="Register Complaint">Register Complaint</a>
        </div>
    </div>
  </div>

